* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: fantasy;
  box-sizing: border-box;
}
input[type=text], input[type=password], input[type=search]{
  outline: 0px;
}
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 12px #7fad39;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #7fad39;
  border-radius: 5px;
  height: 20px;
}
/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin: -76px 0 0 -76px;
  border: 5px solid orange;
  border-radius: 50%;
  border-top: 5px solid green;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
}
.top{
  height: 50px;
  width: 100%;
  font-size: 13px;
  font-weight: bolder;
  background-color: #f5f5f5;
  padding: 8px 0px 5px 40px;
  font-family: cursive;
}
.div1{
  height: 30px;
  width: 20%;
  float: left;
  border-right: 2px solid grey;
}
.div2{
  height: 30px;
  width: 56%;
  float: left;
  border-right: 2px solid grey;
}
.div3{
  height: 30px;
  width: 15%;
  float: left;
  border-right: 2px solid grey;
}
.div4{
  height: 30px;
  width: 7%;
  float: left;
}
.nav {
  height: 70px;
  width: 100%;
  padding: 0px 0px 0px 0px;
}

.topnav {
  overflow: hidden;
  background-color: white;
  margin-top: 10px;
  width: 70%;
  float: right;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 14px;
}

/*.active {
  background-color: #7fad39;
  color: white;
}*/

.topnav .icon {
  display: none;
}

.sdropdown {
  float: left;
  overflow: hidden;
}

.sdropdown .sdropbtn {
  font-size: 14px;    
  border: none;
  outline: none;
  color: black;
  padding: 14px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.item{
  padding: 10px 0px 0px 0px;
  margin: 0px 0px 0px 50px;
}

.sdropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.sdropdown-content a {
  float: none;
  color: white;
  font-family: cursive;
  font-size: 11px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .sdropdown:hover .sdropbtn {
  color: #7fad39;
}

.sdropdown-content a:hover {
  color: #7fad39;
}

.sdropdown:hover .sdropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .sdropdown .sdropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .sdropdown {float: none;}
  .topnav.responsive .sdropdown-content {position: relative;}
  .topnav.responsive .sdropdown .sdropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  .item{
    display: none;
  }
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: black;
  padding: 10px 0px 0px 0px;
  margin-left: 55px;
  float: left;
}
.nav > #nav-check {
  display: none;
}
.section1{
  height: 50px;
  width: 25%;
  float: left;
  margin: 5px 0px 0px 60px;
}
.rec1{
  height: 50px;
  width: 100%;
  padding: 13px 0px 0px 70px;
  background-color: #7fad39;
}
.dropbtn {
  background-color: #7fad39;
  color: white;
  font-size: 20px;
  letter-spacing: 0.5px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  border: 0.5px solid grey;
  min-width: 160px;
  overflow: auto;
  right: 0;
}

.dropdown-content a {
  color: black;
  font-family: cursive;
  font-size: 15px;
  font-weight: bolder;
  padding: 11px 12px;
  text-decoration: none;
  display: block;
}

.show {display: block;}

.section2{
  height: 50px;
  width: 65%;
  float: left;
  margin: 5px 0px 0px 25px;
  padding-top: 0px;
}
.searchcontainer{
  height: 50px;
  width: 55%;
  border: 1px solid lightgrey;
  float: left;
  padding: 0px 0px 0px 20px;
}
.dropdown2{
  height: 25px;
  width: 30%;
  float: left;
  border: none;
  font-size: 18px;
  margin-top: 10px;
  border: none;
  border-right: 1px solid grey;
}
.search{
  height: 48px;
  width: 67.5%;
  float: left;
  border: none;
  font-family: cursive;
  font-weight: bolder;
  font-size: 13px;
  margin-left: 8px;
}
.button{
  height: 50px;
  width: 11%;
  float: left;
  color: white;
  font-family: fantasy;
  font-size: 18px;
  background-color: #7fad39;
  border: none;
}
.phoneicon{
  height: 50px;
  width: 6%;
  border-radius: 25px 25px 25px 25px;
  float: left;
  text-align: center;
  color: #7fad39;
  margin: 0px 0px 0px 50px;
  padding: 14px 0px 5px 0px;
  background-color: #f5f5f5;
}
.container{
  height: 50px;
  width: 20%;
  float: right;
  letter-spacing: 0px;
  margin: 0px 0px 0px 15px;
  font-size: 19px;
  padding: 5px 0px 0px 5px;
}
.sectioncontact{
  height: 150px;
  width: 100%;
  float: left;
  margin: 30px 0px 20px 0px;
}
.clear{
  clear: both;
}

.Z1{
  height: 90px;
  width: 91%;
  margin: 20px 0px 0px 60px;
  padding: 15px 0px 15px 0px;
}
.Z2{
  height: 300px;
  width: 45.5%;
  margin: 20px 0px 50px 60px;
  float: left;
}
.Z3{
  height: 300px;
  width: 45.5%;
  margin: 20px 0px 50px 0px;
  padding: 0px 30px 0px 30px;
  background-color: #f5f5f5;
  float: left;
}
.sd2adiv{
  height: 50px; 
  width: 100%; 
  margin-right: 10px;
  padding: 15px 10px 10px 18px;
  float: left;
}


.footer{
  height: 420px;
  width: 100%;
  margin-top: 50px;
  font-family: cursive;
  font-weight: bolder;
  font-size: 13px;
  background-color: #f5f5f5;
}
.box1{
  height: 250px;
  width: 30%;
  margin: 70px 10px 0px 60px;
  float: left;
}
.box2{
  height: 250px;
  width: 30%;
  margin: 70px 10px 0px 0px;
  float: left;
}
.box2a{
  height: 150px;
  width: 45%;
  float: left;
}
.box2b{
  height: 150px;
  width: 45%;
  float: left;
}
.box3{
  height: 250px;
  width: 30%;
  margin: 70px 10px 0px 0px;
  float: left;
}
.box3a{
  height: 41px;
  width: 10%;
  background-color: white;
  border-radius: 50%;
  float: left;
  margin: 12px 12px 0px 0px;
  padding: 3%;
  border: 0.5px solid lightgrey;
}
.box3a:hover{
  background-color: #7fad39;
  color: white;
}
.box4{
  height: 50px;
  width: 91%;
  margin: 15px 0px 0px 60px;
  float: left;
  text-align: center; 
  font-size: 15px; 
  font-weight: bolder; 
  font-family: cursive;
  border-top: 1px solid dimgrey;
}